/* Basis-Container für alle Screens */

table {
  word-break: break-word;
  overflow-wrap: break-word;
}

/* =======================
   Basis: kleine Mobile
   (bis 480px)
   ======================= */

body {
  font-size: 1.2em;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  font-size: 1.1em;
}


/* =======================
   Größere Smartphones /
   kleine Tablets
   (ab 481px)
   ======================= */

@media (min-width: 481px) {
  body {
    font-size: 1.4em;
  }

  .container {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  table {
    font-size: 1.3em;
  }

  img {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}


/* =======================
   Tablets / kleine
   Notebooks
   (ab 769px)
   ======================= */

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 1em;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  table {
    font-size: 1em;
  }

  img {
    padding-left: 0;
    padding-right: 0;
  }
}


/* =======================
   Große Desktops
   (ab 1201px)
   ======================= */

@media (min-width: 1201px) {
  body {
    font-size: 1em;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  table {
    font-size: 1em;
  }

  img {
    padding-left: 0;
    padding-right: 0;
  }
}

/* =======================
   Ultra Wide Desktops
   (ab 1600px)
   ======================= */

@media (min-width: 1600px) {
  body {
    font-size: 1em;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  table {
    font-size: 1em;
  }

  img {
    padding-left: 0;
    padding-right: 0;
  }
}
